body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.logo_box {
    border-width: 5px;
    border-style: solid;
    border-color: #ff9707;
    border-radius: 2px;
    background-color: white;

    display: inline-block;
    width: 170px;
    height: 170px;

    position: absolute;
    top: 0px;
    left: 17%;

    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1rem;
}

.back_image {
    display: block;
    background-image: url("../images/sunset_first.JPG");
    margin: auto auto;
    height: 640px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.center_background_text {
    display: inline-block;
    width: 50rem;
    height: 10rem;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: #fa9f10;
    font-size: 41px;
    text-shadow: 16px 16px 8px rgb(255, 123, 0), 0 0 1px rgb(136, 147, 160);
    margin-top: 24%;
    margin-right: 0%;
}

div div ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 22px;
    padding: 5px;
    margin: 10px;
}

.navigation {
    display: inline-block;
    margin-left: 37rem;
}


/*----------Links effects----------------*/
a.nav_link:link {
    text-decoration: none;
    color: gray;
}
a.nav_link:visited {
    text-decoration: none;
    color: gray;
}
a.nav_link:hover {
    color: #ff9707;
    border: 2px solid #ff9707;
    border-radius:2px;
}

a.more:link, a.more:visited {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size:20px;
    text-decoration: none;
    color: rgb(253, 249, 249);
    border: 1px solid white;  
}

a.more:hover, a.more:active {
    background-color:rgb(92, 91, 91);
    border-color:#fa9f10;
}

a.insta_button:link, a.insta_button:visited {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: rgb(253, 249, 249);
    background-color: gray;
    border: 1px solid rgb(4, 3, 3);  
}

a.insta_button:hover, a.insta_button:active {
    background-color:rgb(255, 123, 0);
    border-color: gray;
}
/*---------------------------------------*/


.center_text {
    display: block;
    font-size: 28px;
    color: gray;
    font-weight: bold;

    margin-top: 5rem;
    margin-bottom: 2rem;
}

.photo_box {
    display: inline-block;
    border: 1px solid gray;
    margin: 3rem 10px 100px 10px;
}

figcaption p {
    display: inline-block;
    text-align: center;
    font-size: 22px;
    
}
/*--------Two first images at main--------------*/

#bold_frame_text, #frame_center_text {
    display: block;
    margin-bottom: 10px;
}

#bold_frame_text {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(92, 91, 91);
}

#frame_center_text {
    text-align: center;
    font-size: 16px;
    color: rgb(153, 153, 153);
}
/*---End-----------------------------------------*/



/*--Left and right main images ------------------*/
.image_left, .image_right {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
    border: 10px solid gray;
}

.image_left {   
    margin-right: 22%;
}

.image_right { 
    margin-left: 22%;
}

#left_gray_box, #right_gray_box, #left_gray_box2 {
    border: 3px solid white;
    display: inline-block;
    height: 280px;
    width: 450px;
    position: relative;
    top: -170px;
    background-color: rgba(106, 106, 106);
}

#left_gray_box {
    right: -300px;
}

#right_gray_box {
    left: -300px;
}

#left_gray_box2 {
    right: -300px;
}

.gray_box_bold_text {
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

.gray_box_text {
    color:white;
    font-size: 20px;
    text-align: center;
    padding:10px;
}



.text_box {
    display: box;
    text-align: center;
    padding: 5rem 5rem;
    color: gray;
    font-size: 16pt;
}

/*---End--------------------------------------------*/

/*--footer------------------------------------------*/
table {
    width: 100%;
    height: 30ex;
    background-color:black;
    color: rgb(143, 141, 141);
    text-align: left;
    
}

td {
    width: 25%; 
    margin-top: 15px;
}

li {
    margin: 0px 0px 10px 0px;
    list-style-type: none;
    font-size: 14pt;
}

.Legend_name {
    font-size: 12px;
    color: rgb(241, 236, 236);
    margin-left: 6ex;
    font-weight: bold;
}